@import "compass";
@import "animation";

@include global-reset();

@include keyframes(spin){
	0% {}
	100% { @include transform(rotate(360deg)) }
}

body {
	@include background(#444);
	font-family: "Gill Sans", sans-serif;
}

h1 {
	font-size: 2em;
}

.navbar {
	@include background(linear-gradient(lighten(#111, 10%), #111));
	border: none;
	@include border-radius(0);
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar-header {
	display: inline-block;
	float: none;
	.navbar-brand {
		float: none;
		color: white;
		&:hover {
			color: white;
		}
	}
}
.loading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 100px;
	height: 100px;
	.spinner {
		display: block;
		margin: 0 auto;
		width: 50px;
		height: 50px;
		background-color: transparent;
		border: 1px solid #fff;
		@include border-radius(50%);
		@include animation(spin 0.5s linear infinite);
		&:after {
			content: '';
			display: block;
			@include border-radius(50%);
			width: 10px;
			height: 10px;
			position: relative;
			top: 20px;
			background: #fff;
		}
	}
}