<section ng-cloak class="container">
	<div class="intro row">
		<div class="greeting-text col-md-10 col-md-offset-1">
			<h2 class="text-1"><strong>Hello</strong>, welcome to <span class="animate-title">soundmoods</span></h2>
			<p class="text-3">Here you can create mood circles with your favorite tracks from SoundCloud.</p>
			<p class="text-4">Once you're finished, you can play the moods in fullscreen mode.</p>
			<h3 class="text-5">Enjoy!</h3>
		</div>
	</div>
	<div class="row">
		<div class="login-container col-md-4 col-md-offset-4">
			<button class="facebook-login" ng-click="login(user)">Login with Facebook</button>
		</div>
	</div>
</section>