<div class="row">
	<div class="mood-tracks col-md-5">
		<div class="big-mood-circle">
			<div class="tracks-selected-container">
				<h2>Add <strong>tracks</strong> to <span class="mood-color">{{mood.name}}</span></h2>
				<ul class="tracks-selected-list"></ul>
				<a href="#" id="create-mood">Create Mood</a>
			</div>
		</div>
	</div>
	<div class="mood-search-list col-md-6 col-md-offset-1">
		<input ng-model="mood.query" type="text" placeholder="Search for a sound..." name="mood-track"></input>
		<div class="tracks-listing-container">
			<ul class="tracks-list"></ul>
		</div>
	</div>
</div>